---
import Shell from "@layouts/Shell.astro";
import SearchResult from "@components/SearchResult.astro";
import Title from "@components/Title.astro";
import SearchWidget from "@components/islands/SearchWidget";
import { searchAll } from "@api-client/search";

const query = Astro.url.searchParams.get("query");

if (!query) {
  return Astro.redirect("/");
}

const searchResults = await searchAll(query, Astro.url);
---

<Shell>
  <main class="h-full ml-24">
    <div class="my-8">
      <Title />
      <SearchWidget initialText={query} focus={false} client:load />
    </div>
    <div class="space-y-8 max-w-2xl mb-8">
      {
        searchResults.map(
          ({ title, link, highlightedSnippet, displayLink }) => (
            <SearchResult
              title={title}
              link={link}
              snippet={highlightedSnippet}
              displayLink={displayLink}
            />
          )
        )
      }
    </div>
  </main>
</Shell>
